<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Answer</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <span>Your question is  <%= question %></span>
        <h3> my answer is <%= answer %></h3>
    </body>
</html>
