<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Ask</title>
    </head>
    <body>
        <form action="/answer">
            <label for="">
                Your question:
                <input type="text" name="tiwen" value="" placeholder="what is your question">
            </label>
            <button> Ask!</button>
        </form>
    </body>
</html>
