<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Express Intro</title>
    </head>
    <body>
        <h1>Hello world from home page</h1>
        <p> <%= brother %> </p>
        <p> lucky number is  <%= lucky %> </p>
    </body>
</html>
