<h2> new butterflies </h2>

<form action="/flies" method="post">   <!-- # create file -->
<label>
    Name:
    <input name="name" placeholder="yellow admiral" required>
</label>
<label>
    Family:
    <input name="family" placeholder="yellow family" required>
</label>
<label>
    Image:
    <input type="url" name="image" placeholder="http://..." >
</label>
<button> Create Butterfly </button>

</form>