<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
  <link rel="stylesheet" href="/css/pets.css">
  <title>Pets life</title>
</head>
<body>
<div class="container">
    <nav>
        <a href="/">Home</a>
        <a href="/flies">Butterflies</a>
        <a href="/flies/new"> New </a>
    </nav>
  <%= yield %>
  </div>
</body>
</html>