<p> Home page </p>

<form action='/lookup'> 
    <label>
    stock symbol:
    <input name="stock_symbol" placeholder="AAPL" required> <!-- # 方式二 --> 
    </label>
    <button> Price is </button>

</form>