<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Online Calculator</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>
    <!-- #   这里有变的内容的代码写到这里。 注意这里的 符号 -->
    <%= yield %>
    <footer></footer>
</body>
</html>